<div class="container bg-light p-5">
    <h3>Cadastro de carros:</h3>
    <div class="row mb-3">
        <label for="carName" class="col-sm-2 col-form-label">Carro:</label>
        <div class="col-sm-10 mb-2">
            <input type="text" class="form-control" id="carName" name="carName" required>
        </div>
        <label for="carBrand" class="col-sm-2 col-form-label">Montadora:</label>
        <div class="col-sm-10 mb-2">
            <input type="text" class="form-control" id="carBrand" name="carBrand" required>
        </div>
       <div class="row mb-3">
            <div class="col-md-2">
                <label class="col-form-label">Preço:</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="carBrand" name="carBrand" required>
            </div>
            <div class="col-md-2">
                <label class="col-form-label">Ano:</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="carBrand" name="carBrand" required>
            </div>
       </div>
       <div>
            <div class="btn btn-primary">Salvar</div>
       </div>
    </div>
</div>
