<div class="container bg-light p-5">
    <h3>Cadastro de carros:</h3>
    <form >
    <div class="row mb-3">
        <div class="col-md-2">
            <label for="carName" class="col-form-label">Carro:</label>
        </div>
        <div class="col-md-10 mb-2">
            <input type="text" class="form-control" id="carName" name="carName"  [(ngModel)]="car.Name"   required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            <label for="carBrand" class="col-form-label">Montadora:</label>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" id="carBrand" name="carBrand" [(ngModel)]="car.Brand"  required>
        </div>
    </div>
       <div class="row mb-3">
            <div class="col-md-2">
                <label for="carPrice" class="col-form-label" >Preço:</label>
            </div>
            <div class="col-md-4">
                <input type="number" class="form-control" id="carPrice" name="carPrice" [(ngModel)]="car.Price"  required>
            </div>
            <div class="col-md-2">
                <label for="carYear" class="col-form-label">Ano:</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="carYear" name="carYear"  [(ngModel)]="car.Year"  required>
            </div>
       </div>
       <div>
            <div class="btn btn-primary" (click)="save()">Salvar</div>
       </div>
    </form>
</div>
